@model List<MVC.NetTest.Models.Domain.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<table>
    <thead>
    <tr>
        <th>nama</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var users in Model)
    {
        <tr>
            <td>@users.Name</td>
        </tr>
    }
    </tbody>
</table>
