@model List<MVC.NetTest.Models.Domain.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>List User</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>nama</th>
        <th>email</th>
        <th>TTL</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var users in Model)
    {
        <tr>
            <td>@users.Name</td>
            <td>@users.Email</td>
            <td>@users.BirthDate.ToString("dd-MM-yy")</td>
        </tr>
    }
    </tbody>
</table>
